:root {
  --dark-crust: #11111B;
  --dark-cursor: url('../assets/dark/cursor.cur');
  --dark-mantle: #181825;
  --dark-mauve: #CBA6F7;
  --dark-overlay-0: #6C7086;
  --dark-pointer: url('../assets/dark/pointer.cur');
  --dark-primary: #1E1E2E;
  --dark-subtext-0: #A6ADC8;
  --dark-subtext-1: #A6ADC8;
  --dark-surface-0: #313244;
  --dark-surface-1: #45475A;
  --dark-text: #CDD6F4;
  --light-crust: #DCE0E8;
  --light-cursor: url('../assets/light/cursor.cur');
  --light-mantle: #E6E9EF;
  --light-mauve: #8839EF;
  --light-overlay-0: #9CA0B0;
  --light-pointer: url('../assets/light/pointer.cur');
  --light-primary: #EFF1F5;
  --light-subtext-0: #6C6F85;
  --light-subtext-1: #5C5F77;
  --light-surface-0: #CCD0DA;
  --light-surface-1: #BCC0CC;
  --light-text: #4C4F69;
}


html > body[theme="dark"] {
  cursor: var(--light-cursor), auto;
}


body {
  height: 100vh;
  margin: 0;
  overflow: clip;
  width: 100vw;

  &[theme="dark"] {
    background-color: var(--dark-primary);
    cursor: var(--light-cursor), auto;
    
    > header {
      background-color: var(--dark-surface-1);
      
      > #container-title {
        > #title {
          color: var(--dark-text);
        }
      }

      > #container-content {
        > #navigation-bar {
          > ul {
            li {
              color: var(--dark-text);
              
              &:hover {
                background-color: var(--dark-overlay-0);
                cursor: var(--light-pointer), pointer;
              }

              > .container-subnav {
                background-color: var(--dark-surface-0);
                cursor: var(--light-cursor), default;
              }
            }
          }
        }
        
        > #container-controls {
          > #container-theme-control {
            &:hover, #theme-toggle-button:hover {
              cursor: var(--light-pointer), pointer;
            }
  
            > #theme-toggle-button {
              background-color: black;
              border-color: var(--dark-overlay-0);
  
              > #head-switch {
                background-color: var(--dark-overlay-0);
              }
            }
            
            > .theme {
              color: var(--dark-text);
            }
          }
        }
      }
    }

    > main {
      > #container-information {
        background-color: var(--dark-surface-0);

        > #container-content {
          > #container-title {
            color: var(--dark-text);
          }

          > #container-description {
            color: var(--dark-subtext-0);
          }

          > #container-data {
            > #table-data {
              > #table-content {
                > tr {
                  > th {
                    color: var(--dark-subtext-0);
                  }

                  > td {
                    color: var(--dark-text);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &[theme="light"] {
    background-color: var(--light-primary);
    cursor: var(--dark-cursor), auto;

    > header {
      background-color: var(--light-surface-1);

      > #container-title {
        > #title {
          color: var(--light-text);
        }
      }

      > #container-content {
        > #navigation-bar {
          > ul {
            li {
              color: var(--light-text);

              &:hover {
                background-color: var(--light-overlay-0);
                cursor: var(--dark-pointer), pointer;
              }

              > .container-subnav {
                background-color: var(--light-surface-0);
                cursor: var(--dark-cursor), default;
              }
            }
          }
        }
        
        > #container-controls {
          > #container-theme-control {
            &:hover, #theme-toggle-button:hover {
              cursor: var(--dark-pointer), pointer;
            }
            
            > #theme-toggle-button {
              background-color: white;
              border-color: var(--light-overlay-0);
  
              > #head-switch {
                background-color: var(--light-overlay-0);
                transform: translateX(-100%);
              }
            }
            
            > .theme {
              color: var(--light-text);
            }
          }
        }
      }
    }

    > main {
      > #container-information {
        background-color: var(--light-surface-0);

        > #container-content {
          > #container-title {
            color: var(--light-text);
          }

          > #container-description {
            color: var(--light-subtext-0);
          }

          > #container-data {
            > #table-data {
              > #table-content {
                > tr {
                  > th {
                    color: var(--light-subtext-0);
                  }

                  > td {
                    color: var(--light-text);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  max-height: 3em;
  padding: 0.5em 1em;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1;

  > #container-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.25em;

    > img {
      max-width: 100%;
      width: 2em;
    }
    
    > #title {
      font-family: "Segoe UI", Arial;
      font-size: 1.25em;
      font-weight: bold;
    }
  }

  > #container-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;

    > #navigation-bar {
      align-content: center;
      
      > ul {
        display: flex;
        flex: row wrap;
        gap: 0.75em;
        padding: 0;
        list-style-type: none;
        margin: 0;
        
        > #navigation-breeds {
          &:focus > #container-navigation-breeds {
            visibility: visible;
          }
          
          &:hover > #container-navigation-breeds {
            visibility: visible;
          }
        }

        li {
          font-family: Arial;
          padding: 0.25em 0.5em;

          &:focus > .name {
            font-weight: bold;
          }
          
          > div {
            max-height: 10em;
            overflow-x: clip;
            overflow-y: auto;
            scrollbar-width: none;
          }
          
          > #container-navigation-breeds {
            box-sizing: border-box;
            left: 0;
            padding: 0.5em 1em;
            position: fixed;
            top: 3em;
            visibility: hidden;
            width: 100vw;
    
            &:hover {
              visibility: visible;
            }

            > #breeds-list {
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 0.25em;
              list-style-type: none;
              padding: 0;
              width: calc(100vw - 2em);

              > li {
                border: 1px solid;
                border-radius: 18px;
                flex-grow: 1;
                padding: 0.25em 0.5em;
                text-align: center;
                width: max-content;
              }
            }
          }
        }
      }
    }
  
    > #container-controls {
      display: flex;
      flex-direction: row;
  
      > #container-theme-control {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
  
        > .theme {
          font-family: arial;
        }
  
        > #theme-toggle-button {
          background-color: inherit;
          border: 2px solid;
          border-radius: 0.75em;
          box-sizing: border-box;
          cursor: pointer;
          height: 1.5em;
          padding: 0;
          width: 3em;
          
          > #head-switch {
            box-sizing: border-box;
            border: inherit;
            border-radius: inherit;
            height: 100%;
            justify-self: end;
            padding: 0;
            position: relative;
            top: 0;
            transition: 0.25s ease-in-out;
            width: 50%;
          }
        }
      }
    }
  }
}


main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  
  > #container-information {
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    height: 40vh;
    max-width: 90vw;
    overflow: clip;

    > #image {
      max-height: 100%;
    }

    > #container-content {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      max-width: 45vw;
      overflow-y: auto;
      padding: 0.5em 1em;
      scrollbar-width: none;

      > #container-title {
        > #breed-name {
          font-family: "Segoe UI", arial;
          font-size: 1.5em;
          font-weight: 900;
        }
      }

      > #container-description {
        > #breed-description {
          font-family: arial;
          font-size: 0.9em;
          margin: 0;
          padding: 0.5em 0.5em;
          text-indent: 2em;
        }
      }

      > #container-data {
        > #table-data {
          border-collapse: collapse;
          text-align: left;
          width: 100%;

          > #table-content {

            > tr {
              font-family: arial;
              font-size: 0.8em;
              
              > th, td {
                align-content: start;
                padding: 0.25em 0.5em;
              }
              
              > th {
                max-width: 2.5em;
              }

              > td {
                max-width: 9.5em;
              }
            }
          }
        }
      }
    }
  }
}