:root {
  --dark-crust: #11111B;
  --dark-cursor: url('../assets/dark/cursor.cur');
  --dark-mantle: #181825;
  --dark-mauve: #CBA6F7;
  --dark-overlay-0: #6C7086;
  --dark-pointer: url('../assets/dark/pointer.cur');
  --dark-primary: #1E1E2E;
  --dark-subtext-0: #A6ADC8;
  --dark-subtext-1: #A6ADC8;
  --dark-surface-0: #313244;
  --dark-surface-1: #45475A;
  --dark-text: #CDD6F4;
  --light-crust: #DCE0E8;
  --light-cursor: url('../assets/light/cursor.cur');
  --light-mantle: #E6E9EF;
  --light-mauve: #8839EF;
  --light-overlay-0: #9CA0B0;
  --light-pointer: url('../assets/light/pointer.cur');
  --light-primary: #EFF1F5;
  --light-subtext-0: #6C6F85;
  --light-subtext-1: #5C5F77;
  --light-surface-0: #CCD0DA;
  --light-surface-1: #BCC0CC;
  --light-text: #4C4F69;
}


body {
  margin: 0;
  overflow: clip;

  &[theme="dark"] {
    background-color: var(--dark-primary);
    cursor: var(--light-cursor), auto;
    
    > header {
      background-color: var(--dark-surface-1);
      
      > #container-title {
        > #title {
          color: var(--dark-text);
        }
      }

      > #container-content {
        > #navigation-bar {
          > ul {
            li {
              color: var(--dark-text);
              
              &:hover {
                background-color: var(--dark-overlay-0);
                cursor: var(--light-pointer), pointer;
              }

              > .container-subnav {
                background-color: var(--dark-surface-0);
                cursor: var(--light-cursor), default;
              }
            }
          }
        }
        
        > #container-controls {
          > #container-theme-control {
            &:hover, #theme-toggle-button:hover {
              cursor: var(--light-pointer), pointer;
            }
  
            > #theme-toggle-button {
              background-color: black;
              border-color: var(--dark-overlay-0);
  
              > #head-switch {
                background-color: var(--dark-overlay-0);
              }
            }
            
            > .theme {
              color: var(--dark-text);
            }
          }
        }
      }
    }

    > main {
      scrollbar-width: none;
      
      > hr {
        border-color: var(--dark-crust);
      }
      
      .section {
        > .title {
          color: var(--dark-text);

          &:hover > .hook {
            cursor: var(--light-pointer), pointer;
          }
        }

        a {
          color: var(--dark-mauve);

          &:hover {
            cursor: var(--light-pointer), pointer;
          }
        }
      }
      
      > #container-cover {
        > #container-introduction {
          > #title {
            color: var(--dark-text);
          }

          > p {
            color: var(--dark-subtext-0);
          }
        }
        
        > #cover-image {
          background-image: url('../assets/light/cat.png');
        }
      }

      > #container-about {
        > #about {
          > p {
            color: var(--dark-subtext-0);
          }
        }
      }

      > #container-carousel {
        > #carousel {
          > .card {
            border: 2px solid;
            border-color: var(--dark-overlay-0);
          }
        }
      }

      > #container-quotes {
        > blockquote {
          color: var(--dark-text);
        }
      }

      > #container-credits {
        color: var(--dark-subtext-1);

        > a {
          &:hover {
            cursor: var(--light-pointer), pointer;
          }
        }
      }
    }
  }

  &[theme="light"] {
    background-color: var(--light-primary);
    cursor: var(--dark-cursor), auto;

    > header {
      background-color: var(--light-surface-1);

      > #container-title {
        > #title {
          color: var(--light-text);
        }
      }

      > #container-content {
        > #navigation-bar {
          > ul {
            li {
              color: var(--light-text);

              &:hover {
                background-color: var(--light-overlay-0);
                cursor: var(--dark-pointer), pointer;
              }

              > .container-subnav {
                background-color: var(--light-surface-0);
                cursor: var(--dark-cursor), default;
              }
            }
          }
        }
        
        > #container-controls {
          > #container-theme-control {
            &:hover, #theme-toggle-button:hover {
              cursor: var(--dark-pointer), pointer;
            }
            
            > #theme-toggle-button {
              background-color: white;
              border-color: var(--light-overlay-0);
  
              > #head-switch {
                background-color: var(--light-overlay-0);
                transform: translateX(-100%);
              }
            }
            
            > .theme {
              color: var(--light-text);
            }
          }
        }
      }
    }

    > main {
      scrollbar-width: none;
      
      > hr {
        border-color: var(--light-crust);
      }
      
      .section {
        > .title {
          color: var(--light-text);
          
          &:hover > .hook {
            cursor: var(--dark-pointer), pointer;
          }
        }

        a {
          color: var(--light-mauve);

          &:hover {
            cursor: var(--dark-pointer), pointer;
          }
        }
      }
      
      > #container-cover {
        > #container-introduction {
          > #title {
            color: var(--light-text);
          }

          > p {
            color: var(--light-subtext-0);
          }
        }
        
        > #cover-image {
          background-image: url("../assets/dark/cat.png");
        }
      }

      > #container-about {
        > #about {
          > p {
            color: var(--light-subtext-0);
          }
        }
      }

      > #container-carousel {
        > #carousel {
          > .card {
            border: 2px solid;
            border-color: var(--light-overlay-0);
          }
        }
      }

      > #container-quotes {
        > blockquote {
          color: var(--light-text);
        }
      }

      > #container-credits {
        color: var(--light-subtext-1);

        > a {
          &:hover {
            cursor: var(--dark-pointer), pointer;
          }
        }
      }
    }
  }
}


header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  max-height: 3em;
  padding: 0.5em 1em;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1;

  > #container-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.25em;

    > img {
      max-width: 100%;
      width: 2em;
    }
    
    > #title {
      font-family: "Segoe UI", Arial;
      font-size: 1.25em;
      font-weight: bold;
    }
  }

  > #container-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;

    > #navigation-bar {
      align-content: center;
      
      > ul {
        display: flex;
        flex: row wrap;
        gap: 0.75em;
        padding: 0;
        list-style-type: none;
        margin: 0;
        
        > #navigation-breeds {
          &:focus > #container-navigation-breeds {
            visibility: visible;
          }
          
          &:hover > #container-navigation-breeds {
            visibility: visible;
          }
        }

        li {
          font-family: Arial;
          padding: 0.25em 0.5em;

          &:focus > .name {
            font-weight: bold;
          }
          
          > div {
            max-height: 10em;
            overflow-x: clip;
            overflow-y: auto;
            scrollbar-width: none;
          }
          
          > #container-navigation-breeds {
            box-sizing: border-box;
            left: 0;
            padding: 0.5em 1em;
            position: fixed;
            top: 3em;
            visibility: hidden;
            width: 100vw;
    
            &:hover {
              visibility: visible;
            }

            > #breeds-list {
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 0.25em;
              list-style-type: none;
              padding: 0;
              width: calc(100vw - 2em);

              > li {
                border: 1px solid;
                border-radius: 18px;
                flex-grow: 1;
                padding: 0.25em 0.5em;
                text-align: center;
                width: max-content;
              }
            }
          }
        }
      }
    }
  
    > #container-controls {
      display: flex;
      flex-direction: row;
  
      > #container-theme-control {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
  
        > .theme {
          font-family: arial;
        }
  
        > #theme-toggle-button {
          background-color: inherit;
          border: 2px solid;
          border-radius: 0.75em;
          box-sizing: border-box;
          cursor: pointer;
          height: 1.5em;
          padding: 0;
          width: 3em;
          
          > #head-switch {
            box-sizing: border-box;
            border: inherit;
            border-radius: inherit;
            height: 100%;
            justify-self: end;
            padding: 0;
            position: relative;
            top: 0;
            transition: 0.25s ease-in-out;
            width: 50%;
          }
        }
      }
    }
  }
}


main {
  height: 100vh;
  overflow-x: clip;
  overflow-y: auto;

  > hr {
    border-style: solid;
    width: 75vw;
  }
  
  > #container-cover {
    aspect-ratio: 21 / 9;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 50vh;
    width: 100vw;

    > #container-introduction {
      align-content: center;
      align-self: center;
      height: 67%;
      width: 33%;

      > #title {
        font-family: "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 3em;
        font-weight: 800;
      }
      
      > p {
        font-family: arial;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0;
      }
    }
    
    > #cover-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      width: 45%;
    }
  }

  .section {
    > .title {
      font-family: "Segoe UI";
      font-size: 1.5em;
      font-weight: 900;

      &:hover > .hook {
        visibility: visible;
      }

      > .hook {
        color: inherit;
        text-decoration: none;
        visibility: hidden;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
  
  > #container-about {
    > #about {
      justify-self: center;
      width: 80%;
      
      > p {
        font-family: sans-serif;
        font-size: 0.9em;
        text-indent: 2em;
      }
    }
  }

  > #container-carousel {
    justify-self: center;
    padding: 0.5em 1em;
    overflow: clip;
    width: 80vw;
    
    > #carousel {
      animation: scroll 175s linear infinite;
      display: flex;
      flex-direction: row;
      gap: 1em;
      list-style-type: none;
      overflow: hidden;
      padding: 0;
      width: fit-content;

      > .card {
        background-color: black;
        border-radius: 20px;
        box-sizing: border-box;
        display: flex;
        overflow: clip;
        position: relative;
        width: fit-content;
        z-index: 1;

        &:hover > .overlay {
          visibility: visible;
        }

        &:hover > img {
          opacity: 0.25;
        }

        > img {
          height: 7em;
        }

        > .overlay {
          color: white;
          font-family: Arial;
          left: 50%;
          position: absolute;
          text-align: center;
          top: 50%;
          transform: translate(-50%, -50%);
          visibility: hidden;
          z-index: 2;
        }
      }
    }
  }

  > #container-quotes {
    padding: 0.5em 1em;

    > blockquote {
      font-family: "Sugoe UI";
      text-align: center;

      > .quotation-mark {
        font-size: 2em;
        font-weight: bold;
      }

      > .quote {
        font-size: 1.2em;
      }

      > .author {
        font-size: 0.9em;
        font-style: italic;
      }
    }
  }

  > #container-credits {
    font-family: arial;
    padding: 1em 2em;
    text-align: center;
    
    > a {
      color: inherit;
      text-decoration: none;
    }
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}